* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: rgb(165, 96, 228);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 5px;
}

.form-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.form-input::placeholder {
  color: #ffffff;
}

.btn-submit {
  outline: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: #fff;
  background-color: #8758ff;
}

h1 {
  text-align: center;
}

.input {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.icon {
  position: relative;
  width: 2rem;
  bottom: -0.7rem;
  transform: translate(-50%, -50%);
  animation: icon 3s infinite linear;
  cursor: pointer;
}

@keyframes icon {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.icons {
  width: 1.3rem;
}

.btn-submit {
  cursor: pointer;
}

.btn-submit:hover {
  color: #1a1a40;
}

.task {
  background-color: #8758ff;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.8rem;
  margin-bottom: 1rem;
  align-items: center;
}

.todo {
  text-decoration: line-through;
  color: #aba9b2;
}

.btn {
  outline: none;
  border: 1px solid #8758ff;
  text-transform: uppercase;
  color: #fff;
  margin-left: 1rem;
  background-color: #8758ff;
  cursor: pointer;
}
